<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>edit</key>
		<false/>
		<key>name</key>
		<string>焊接钢管</string>
		<key>other</key>
		<false/>
		<key>sub</key>
		<array>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管</string>
				<key>rr</key>
				<string>6</string>
				<key>r</key>
				<string>10.0</string>
				<key>d</key>
				<string>2.00</string>
				<key>G</key>
				<string>0.39</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管</string>
				<key>rr</key>
				<string>8</string>
				<key>r</key>
				<string>13.5</string>
				<key>d</key>
				<string>2.25</string>
				<key>G</key>
				<string>0.62</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管</string>
				<key>rr</key>
				<string>10</string>
				<key>r</key>
				<string>17.0</string>
				<key>d</key>
				<string>2.25</string>
				<key>G</key>
				<string>0.82</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管</string>
				<key>rr</key>
				<string>15</string>
				<key>r</key>
				<string>21.3</string>
				<key>d</key>
				<string>2.75</string>
				<key>G</key>
				<string>1.26</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管</string>
				<key>rr</key>
				<string>20</string>
				<key>r</key>
				<string>26.8</string>
				<key>d</key>
				<string>2.75</string>
				<key>G</key>
				<string>1.63</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管</string>
				<key>rr</key>
				<string>25</string>
				<key>r</key>
				<string>33.5</string>
				<key>d</key>
				<string>3.25</string>
				<key>G</key>
				<string>2.42</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管</string>
				<key>rr</key>
				<string>32</string>
				<key>r</key>
				<string>42.3</string>
				<key>d</key>
				<string>3.25</string>
				<key>G</key>
				<string>3.13</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管</string>
				<key>rr</key>
				<string>40</string>
				<key>r</key>
				<string>48.0</string>
				<key>d</key>
				<string>3.50</string>
				<key>G</key>
				<string>3.84</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管</string>
				<key>rr</key>
				<string>50</string>
				<key>r</key>
				<string>60.0</string>
				<key>d</key>
				<string>3.50</string>
				<key>G</key>
				<string>4.88</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管</string>
				<key>rr</key>
				<string>65</string>
				<key>r</key>
				<string>75.5</string>
				<key>d</key>
				<string>3.75</string>
				<key>G</key>
				<string>6.64</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管</string>
				<key>rr</key>
				<string>80</string>
				<key>r</key>
				<string>88.5</string>
				<key>d</key>
				<string>4.00</string>
				<key>G</key>
				<string>8.34</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管</string>
				<key>rr</key>
				<string>100</string>
				<key>r</key>
				<string>114.0</string>
				<key>d</key>
				<string>4.00</string>
				<key>G</key>
				<string>10.85</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管</string>
				<key>rr</key>
				<string>125</string>
				<key>r</key>
				<string>140.0</string>
				<key>d</key>
				<string>4.50</string>
				<key>G</key>
				<string>15.04</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管</string>
				<key>rr</key>
				<string>150</string>
				<key>r</key>
				<string>165.0</string>
				<key>d</key>
				<string>4.50</string>
				<key>G</key>
				<string>17.81</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>edit</key>
		<false/>
		<key>name</key>
		<string>焊接钢管(加厚)</string>
		<key>other</key>
		<false/>
		<key>sub</key>
		<array>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管(加厚)</string>
				<key>rr</key>
				<string>6</string>
				<key>r</key>
				<string>10.0</string>
				<key>d</key>
				<string>2.50</string>
				<key>G</key>
				<string>0.46</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管(加厚)</string>
				<key>rr</key>
				<string>8</string>
				<key>r</key>
				<string>13.5</string>
				<key>d</key>
				<string>2.75</string>
				<key>G</key>
				<string>0.73</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管(加厚)</string>
				<key>rr</key>
				<string>10</string>
				<key>r</key>
				<string>17.0</string>
				<key>d</key>
				<string>2.75</string>
				<key>G</key>
				<string>0.97</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管(加厚)</string>
				<key>rr</key>
				<string>15</string>
				<key>r</key>
				<string>21.3</string>
				<key>d</key>
				<string>3.25</string>
				<key>G</key>
				<string>1.45</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管(加厚)</string>
				<key>rr</key>
				<string>20</string>
				<key>r</key>
				<string>26.8</string>
				<key>d</key>
				<string>3.50</string>
				<key>G</key>
				<string>2.01</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管(加厚)</string>
				<key>rr</key>
				<string>25</string>
				<key>r</key>
				<string>33.5</string>
				<key>d</key>
				<string>4.00</string>
				<key>G</key>
				<string>2.91</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管(加厚)</string>
				<key>rr</key>
				<string>32</string>
				<key>r</key>
				<string>42.3</string>
				<key>d</key>
				<string>4.00</string>
				<key>G</key>
				<string>3.78</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管(加厚)</string>
				<key>rr</key>
				<string>40</string>
				<key>r</key>
				<string>48.0</string>
				<key>d</key>
				<string>4.25</string>
				<key>G</key>
				<string>4.58</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管(加厚)</string>
				<key>rr</key>
				<string>50</string>
				<key>r</key>
				<string>60.0</string>
				<key>d</key>
				<string>4.50</string>
				<key>G</key>
				<string>6.16</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管(加厚)</string>
				<key>rr</key>
				<string>65</string>
				<key>r</key>
				<string>75.5</string>
				<key>d</key>
				<string>4.50</string>
				<key>G</key>
				<string>7.88</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管(加厚)</string>
				<key>rr</key>
				<string>80</string>
				<key>r</key>
				<string>88.5</string>
				<key>d</key>
				<string>4.75</string>
				<key>G</key>
				<string>9.81</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管(加厚)</string>
				<key>rr</key>
				<string>100</string>
				<key>r</key>
				<string>114.0</string>
				<key>d</key>
				<string>5.00</string>
				<key>G</key>
				<string>13.44</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管(加厚)</string>
				<key>rr</key>
				<string>125</string>
				<key>r</key>
				<string>140.0</string>
				<key>d</key>
				<string>5.50</string>
				<key>G</key>
				<string>18.24</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>焊接钢管(加厚)</string>
				<key>rr</key>
				<string>150</string>
				<key>r</key>
				<string>165.0</string>
				<key>d</key>
				<string>5.50</string>
				<key>G</key>
				<string>21.63</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>edit</key>
		<false/>
		<key>name</key>
		<string>电线套管</string>
		<key>other</key>
		<false/>
		<key>sub</key>
		<array>
			<dict>
				<key>fatherName</key>
				<string>电线套管</string>
				<key>rr</key>
				<string>13</string>
				<key>r</key>
				<string>12.70</string>
				<key>d</key>
				<string>1.60</string>
				<key>G</key>
				<string>0.438</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>电线套管</string>
				<key>rr</key>
				<string>16</string>
				<key>r</key>
				<string>15.88</string>
				<key>d</key>
				<string>1.60</string>
				<key>G</key>
				<string>0.581</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>电线套管</string>
				<key>rr</key>
				<string>19</string>
				<key>r</key>
				<string>19.05</string>
				<key>d</key>
				<string>1.80</string>
				<key>G</key>
				<string>0.766</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>电线套管</string>
				<key>rr</key>
				<string>25</string>
				<key>r</key>
				<string>25.40</string>
				<key>d</key>
				<string>1.80</string>
				<key>G</key>
				<string>1.048</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>电线套管</string>
				<key>rr</key>
				<string>32</string>
				<key>r</key>
				<string>31.75</string>
				<key>d</key>
				<string>1.80</string>
				<key>G</key>
				<string>1.329</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>电线套管</string>
				<key>rr</key>
				<string>38</string>
				<key>r</key>
				<string>38.10</string>
				<key>d</key>
				<string>1.80</string>
				<key>G</key>
				<string>1.611</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>电线套管</string>
				<key>rr</key>
				<string>51</string>
				<key>r</key>
				<string>50.80</string>
				<key>d</key>
				<string>2.00</string>
				<key>G</key>
				<string>2.407</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>电线套管</string>
				<key>rr</key>
				<string>64</string>
				<key>r</key>
				<string>63.50</string>
				<key>d</key>
				<string>2.50</string>
				<key>G</key>
				<string>3.760</string>
			</dict>
			<dict>
				<key>fatherName</key>
				<string>电线套管</string>
				<key>rr</key>
				<string>76</string>
				<key>r</key>
				<string>76.20</string>
				<key>d</key>
				<string>3.20</string>
				<key>G</key>
				<string>5.761</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>edit</key>
		<false/>
		<key>name</key>
		<string>其他钢管</string>
		<key>other</key>
		<true/>
	</dict>
</array>
</plist>
