<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>公里</string>
		<key>value</key>
		<string>0.001</string>
	</dict>
	<dict>
		<key>name</key>
		<string>米</string>
		<key>value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>分米</string>
		<key>value</key>
		<string>10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>厘米</string>
		<key>value</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>毫米</string>
		<key>value</key>
		<string>1000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>微米</string>
		<key>value</key>
		<string>1000000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>纳米</string>
		<key>value</key>
		<string>1000000000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>英里</string>
		<key>value</key>
		<string>0.0006213712</string>
	</dict>
	<dict>
		<key>name</key>
		<string>码</string>
		<key>value</key>
		<string>1.0936133</string>
	</dict>
	<dict>
		<key>name</key>
		<string>英尺</string>
		<key>value</key>
		<string>3.2808399</string>
	</dict>
	<dict>
		<key>name</key>
		<string>英寸</string>
		<key>value</key>
		<string>39.3700787</string>
	</dict>
	<dict>
		<key>name</key>
		<string>市里</string>
		<key>value</key>
		<string>0.002</string>
	</dict>
	<dict>
		<key>name</key>
		<string>市杖</string>
		<key>value</key>
		<string>0.3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>市尺</string>
		<key>value</key>
		<string>3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>市寸</string>
		<key>value</key>
		<string>30</string>
	</dict>
	<dict>
		<key>name</key>
		<string>市分</string>
		<key>value</key>
		<string>300</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海里</string>
		<key>value</key>
		<string>0.0005399568</string>
	</dict>
</array>
</plist>
