<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>平方千米</string>
		<key>value</key>
		<string>0.000001</string>
	</dict>
	<dict>
		<key>name</key>
		<string>公顷</string>
		<key>value</key>
		<string>0.0001</string>
	</dict>
	<dict>
		<key>name</key>
		<string>公亩</string>
		<key>value</key>
		<string>0.01</string>
	</dict>
	<dict>
		<key>name</key>
		<string>平方米</string>
		<key>value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>平方分米</string>
		<key>value</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>平方厘米</string>
		<key>value</key>
		<string>10000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>平方毫米</string>
		<key>value</key>
		<string>1000000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>市顷</string>
		<key>value</key>
		<string>0.000015</string>
	</dict>
	<dict>
		<key>name</key>
		<string>市亩</string>
		<key>value</key>
		<string>0.0015</string>
	</dict>
</array>
</plist>
