<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>加仑(美固)</string>
		<key>value</key>
		<string>227.02</string>
	</dict>
	<dict>
		<key>name</key>
		<string>夸脱(美固)</string>
		<key>value</key>
		<string>908.08</string>
	</dict>
	<dict>
		<key>name</key>
		<string>品脱(美固)</string>
		<key>value</key>
		<string>1816.17</string>
	</dict>
	<dict>
		<key>name</key>
		<string>加仑(美液)</string>
		<key>value</key>
		<string>264.17</string>
	</dict>
	<dict>
		<key>name</key>
		<string>夸脱(美液)</string>
		<key>value</key>
		<string>1056.69</string>
	</dict>
	<dict>
		<key>name</key>
		<string>品脱(美液)</string>
		<key>value</key>
		<string>2113.38</string>
	</dict>
	<dict>
		<key>name</key>
		<string>杯(美)</string>
		<key>value</key>
		<string>4226.75</string>
	</dict>
	<dict>
		<key>name</key>
		<string>餐匙(美)</string>
		<key>value</key>
		<string>67628.05</string>
	</dict>
	<dict>
		<key>name</key>
		<string>茶匙(美)</string>
		<key>value</key>
		<string>202884.14</string>
	</dict>
	<dict>
		<key>name</key>
		<string>加仑(英)</string>
		<key>value</key>
		<string>219.97</string>
	</dict>
	<dict>
		<key>name</key>
		<string>夸脱(英)</string>
		<key>value</key>
		<string>879.88</string>
	</dict>
	<dict>
		<key>name</key>
		<string>品脱(英)</string>
		<key>value</key>
		<string>1759.75</string>
	</dict>
	<dict>
		<key>name</key>
		<string>液量盎司(英)</string>
		<key>value</key>
		<string>35195.07</string>
	</dict>
	<dict>
		<key>name</key>
		<string>立方英尺</string>
		<key>value</key>
		<string>35.3146667214</string>
	</dict>
	<dict>
		<key>name</key>
		<string>立方英寸</string>
		<key>value</key>
		<string>61023.74</string>
	</dict>
	<dict>
		<key>name</key>
		<string>立方米</string>
		<key>value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>立方分米</string>
		<key>value</key>
		<string>1000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>立方厘米</string>
		<key>value</key>
		<string>1000000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>升</string>
		<key>value</key>
		<string>1000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>毫升</string>
		<key>value</key>
		<string>1000000</string>
	</dict>
	<dict>
		<key>name</key>
		<string>市斗</string>
		<key>value</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>市升</string>
		<key>value</key>
		<string>10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>合</string>
		<key>value</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>勺</string>
		<key>value</key>
		<string>1000</string>
	</dict>
</array>
</plist>
